@model Pharmacy.Models.Medication

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family: 'Lato', sans-serif">Detalles de Medicamento</h1>

<div>
    <h4>Medicamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lab.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>
