@model Pharmacy.ModelsView.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Lato', sans-serif">Listado de Categorías de Medicamentos</h1>

<p>
    <a asp-action="Create">Cargar Nueva Categoría de Medicamento</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr class="justify-content-center" style="text-align: center; font-family: 'Roboto Slab', serif;">
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.CategoryList[0].description)
            </th>
            <th style="font-size: 1.5em; vertical-align: central">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody style="background-color: aquamarine; text-align: center">
        @foreach (var item in Model.CategoryList)
        {
            <tr style="font-family: 'Lato', sans-serif;">
                <td style="font-size: 1.1em" vertical-align: central">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td style="font-size: 0.8em">
                    <a asp-action="Edit" asp-route-id="@item.id" style="color: darkblue;">
                        Editar
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.id" style="color: darkblue;">
                        Detalles
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.id" style="color: darkblue;">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" for="@Model.pager" />

