@model Pharmacy.ModelsView.LabViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Laboratorios</h1>

<p>
    <a asp-action="Create">Cargar Nuevo Laboratorio</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr class="justify-content-center" style="text-align: center; font-family: 'Roboto Slab', serif;">
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.LabList[0].name)
            </th>
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.LabList[0].email)
            </th>
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.LabList[0].city)
            </th>
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.LabList[0].country)
            </th>
            <th style="font-size: 1.5em; vertical-align: central">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody style="background-color: aquamarine; text-align: center">
        @foreach (var item in Model.LabList)
        {
            <tr style="font-family: 'Lato', sans-serif;">
                <td style="font-size: 1.2em; font-weight: bold">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td style="font-size: 0.8em">
                    <a asp-action="Edit" asp-route-id="@item.id" style="color: darkblue;">
                        Editar
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.id" style="color: darkblue;">
                        Detalles
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.id" style="color: darkblue;">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" for="@Model.pager" />
